:root {
  --text-color-quote: lightblue;
  --text-color-normal: white;
  --change-background-color: background-color 2s ease;
  --change-color: color 2s ease;
}

body {
  height: 100vh;
  width: 100wv;
  margin: 0;
  overflow: hidden;
  background-color: var(--text-color-quote);
  font-family: "Lato";
  color: var(--text-color-normal);;
  transition: var(--change-background-color);
}

h1, p {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-normal {
  font-size: 18px;
}

.text-small {
  font-size: 16px;
}

#quote-box {
  background-color: white;
  width: 450px;
  margin: 0 auto;
  margin-top: 30vh;
  padding: 30px 50px;
  border-radius: 10px;
}

#quote {
  color: var(--text-color-quote);
  transition: var(--change-color);
  text-align: center;
}

#quote i {
  font-size: 34px;
  display: inline;
}

#text {
  font-style: italic;
  font-size: 30px;
  padding: 0 10px;
  display: inline;
}

.text-center {
  text-align: center;
}

#author {
  text-align: right;
  margin-top: 20px;
  color: var(--text-color-quote);
  transition: var(--change-color);
}

#action-bar {
  margin-top: 40px;
}

.social-icons a {
  margin-right: 14px;
  color: var(--text-color-quote);
  transition: var(--change-color);
  padding: 0;
  font-size: 38px;
}

#new-quote {
  padding: 8px 12px;
  background-color: var(--text-color-quote);
  transition: var(--change-background-color);
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  color: var(--text-color-normal);
}

#new-quote:hover {
  cursor:pointer;
}

#reference {
  margin-top: 10px;
}

#reference p a {
  text-decoration: none;
  color: var(--text-color-normal);
}